@import "tailwindcss";
@theme {
  --color-lab-dark: #0f172a;
  --color-lab-card: #1e293b;
  --color-lab-accent: #10b981;
  --color-lab-text: #e2e8f0;
}
body {
  @apply bg-lab-dark text-lab-text;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}
